<div *ngIf="this.article" class="w3-section w3-padding" >

  <div *ngIf="status && detailMode" class="w3-panel w3-{{statusType}}">
    {{ status }}
  </div>

  <h3><a routerLink="/articles/{{this.article.id}}">{{this.article.title}}</a></h3>
  <p>
    <b>Authors:</b> {{ this.article.authors }}
  </p>

  <p>
      {{this.article.content }}
  </p>

  <div>
      <a routerLink="/articles"><button *ngIf="detailMode" class="w3-button w3-grey w3-small">Retour aux articles</button></a>
      <a routerLink="/articles/{{this.article.id}}"><button *ngIf="!detailMode" class="w3-button w3-green w3-small">Détails</button></a>
      <a routerLink="/articles/edit/{{this.article.id}}"><button class="w3-button w3-green w3-small">Modifier</button></a>
      <button class="w3-button w3-red w3-small" (click)="this.delete()">Supprimer</button>
  </div>
</div>
