<div class="w3-bar w3-green">
    <div class="w3-bar-item"><a routerLink="/" >Home</a></div>
    <div class="w3-bar-item"><a routerLink="/articles" >Articles</a></div>
    <div class="w3-bar-item"><a routerLink="/articles/create" >Ajouter un article</a></div>
</div> 

<div class="w3-container">
    <router-outlet></router-outlet>
</div>