<h1>Édition d'un article</h1>

<div *ngIf="status" class="w3-panel w3-{{statusType}}">
  {{ status }}
</div>

<div *ngIf="editedArticle">
  <form [formGroup]="articleForm" (ngSubmit)="updateArticle()">
      <div class="form-group">
        <label class="center-block">Titre:
          <input class="form-control" formControlName="title">
        </label>
        <br />
        <label class="center-block">Contenu:
          <textarea class="form-control" formControlName="content"></textarea>
        </label>
        <br />
        <label class="center-block">Auteurs:
          <input class="form-control" formControlName="authors">
        </label>
        <br>
        <br>
        <a routerLink="/articles/{{this.editedArticle.id}}"><button *ngIf="!detailMode" class="w3-button w3-grey">Retourner à l'article</button></a>
        <button class="w3-button w3-green" [disabled]="articleForm.invalid" type="submit">Éditer l'article</button>

      </div>
    </form>
</div>