
<h1>Liste des articles ({{displayedArticles.length}})</h1>

<div class="w3-margin-bottom">
    <a routerLink="/articles/create" ><button class="w3-button w3-black">+ Créer un article</button></a>
</div>

<div class="w3-border w3-section w3-padding">
    <h3>Filtres</h3>
    <label>Titre:
        <input (keyup)="this.onFilterChange()" [(ngModel)]="articleSearchFilter.titleContains" placeholder="Le titre contient...">
    </label><br>
    <label>Contenu:
        <input (keyup)="this.onFilterChange()" [(ngModel)]="articleSearchFilter.contentContains" placeholder="Le contenu contient...">
    </label><br>
    <label>Auteurs:
        <input (keyup)="this.onFilterChange()" [(ngModel)]="articleSearchFilter.authorsContains" placeholder="Écrit par...">
    </label>   
</div>

<section>
    <div *ngIf="displayedArticles.length > 0" >
        <article *ngFor="let article of displayedArticles" class="w3-border-bottom ">
            <app-article (deletedArticle)="onRemove($event)" [article]="article"></app-article>
        </article>
    </div>

    <div *ngIf="displayedArticles.length <= 0">
        <p>No articles availables</p>
        <a routerLink="/articles/create" ><button class="w3-button w3-black">+ Créer un article</button></a>
    </div>
</section>