<h1>Création d'un article</h1>

<div class="w3-margin-bottom">
    <a routerLink="/articles" ><button class="w3-button w3-black"> Retourner à la liste</button></a>
</div>

<div *ngIf="status" class="w3-panel w3-{{statusType}}">
  {{ status }}
</div>

<form [formGroup]="articleForm" (ngSubmit)="createArticle()">
  <div class="form-group">
    <label class="center-block">Titre:
      <input class="form-control" formControlName="title">
    </label>
    <br />
    <label class="center-block">Contenu:
      <textarea class="form-control" formControlName="content"></textarea>
    </label>
    <br />
    <label class="center-block">Auteurs:
      <input class="form-control" formControlName="authors">
    </label>
    <br>
    <br>
    <button class="w3-button w3-green" [disabled]="articleForm.invalid" type="submit">Créer l'article</button>
  </div>
</form>