<h1>Premier TP Angular</h1>
<p>
  <i>Thomas Cottin, Clément Garin - Polytech Paris-Sud APP-INFO</i>
</p>
<p>
  Bienvenue sur cette landing page.<br>
  Y'a rien à faire ici à part utiliser le menu sur fond vert en haut.
</p>
<p>
  Tchao.
</p>
<p>
  <i>PS: Voilà une image de chat from <a href="http://thecatapi.com">thecatapi.com</a>:</i>
</p>
<p>
  <img src="http://thecatapi.com/api/images/get" alt="A cat from thecatapi.com" class="w3-image w3-round"/>
</p>
